/* MAIN */
#historia-container {
    display: flex;
    flex-direction: row;
    padding: 8vh 2vw 10vh 5vw;
}

#historia-img {
    height: 80vh;
}

#historia {
    padding: 1.5vw 0 0 2.5vw;
    font-size: larger;
    line-height: 4.5vh;
}

#sacar {
    display: none;
}