/* MAIN */
#preciosPeluContainer, #preciosNailsContainer, #preciosCejasContainer {
    display: flex;
    flex-direction: row;
    padding: 8vh 2vw 10vh 5vw;
    font-size: larger;
    line-height: 4.5vh;  
}

#preciosPeluImg, #preciosNailsImg, #preciosCejasImg {
    width: 35vw;
}

#preciosPeluLista, #preciosCejasLista {
    padding: 1.5vw 0 0 3vw;
}

#preciosNailsLista {
    padding: 3vw 2vw 0 1.5vw;
}

#preciosPelu, #preciosNails, #preciosCejas {
    width: 50vw;
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
    justify-content: space-between;
}

#aclaracionPelu {
    font-size: small;
    padding: 2vh 2vw;
}

.tratamientoExtra, .precioExtra, .precioNull, .tratamientoPestanias {
    padding-top: 4vh;
}