/* MAIN */
#img-header {
    width: 100%;
    padding: 40px;
}

#product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2vw;
    row-gap: 10vh;
    padding: 6vh;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.buy-btn {
    background: #d4af39;
    padding: 1vh;
    margin: 1vh;
    border: none;
    border-radius: 5px;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: medium;
}

.buy-btn:hover {
    background: #ecc74c;
}

/* CARRITO */
.cart-container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(212, 175, 57, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.cart-opened {
    visibility: visible;
    opacity: 1;
}

#cart {
    background: white;
    width: 50vw;
    height: 90vh;
    border-radius: 5px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.selected-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
}

.selected-product img {
    width: 10vw;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#cartButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#remove-product, #buy {
    background: #d4af39;
    height: fit-content;
    padding: 1vh;
    margin: 1vh;
    border: none;
    border-radius: 5px;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: small;
    margin-left: 1vw;
}

#buy:hover {
    background: #ecc74c;    
}

#remove-product:hover {
    background: #ecc74c;    
}

#close-cart {
    background: #d4af39;
    padding: 1vh;
    margin: 1vh;
    border: none;
    border-radius: 5px;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: small;
    width: fit-content;
}

#close-cart:hover {
    background: #ecc74c; 
}

.detallesCompraContainer {
    height: 100vh;
    width: 100vw;
    background-color: rgb(212, 175, 57, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.detallesCompraAbierto {
    visibility: visible;
    opacity: 1;
}

#detallesCompra {
    background: white;
    width: 30vw;
    height: 40vh;
    border-radius: 5px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

#detallesCompra p {
    padding: 2vh;
}

#cerrarDetalles {
    background: #d4af39;
    height: fit-content;
    width: fit-content;
    padding: 1vh;
    border: none;
    border-radius: 5px;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: small;
    margin-left: 1vw;
    align-self: flex-end;
}

#cerrarDetalles:hover {
    background: #ecc74c; 
}